<div class="small-contact-message"><h1 id="small-title-text">Feel free to drop me an email</h1></div>
<div class="small-mail-animate"></div>
<div class="inner-form envelope-img"></div>
	<div class="contact-form-filler">
		<div><%= form_for(@user) do |f| %><div>
			<label class="field-form">Name
				<div><%= f.text_field :name  %></div>
			</label>
			<label class="field-form">Email
				<div><%= f.text_field :email  %></div>
			</label>
			<label class="field-form">Message
				<div><%= f.text_area :message %></div>
			</label>
			<div><%= f.submit 'submit', :class => "contact-submit" %></div>
			<% end %>
		</div>
	</div>
<div class="contact-message"><h1 id="title-text">Feel free to drop me an email</h1></div>
<div class="mail-animate"></div>
<div class="arrow"></div>
